
@-moz-keyframes slide {
	0%{background-position:0% 0%}
    50%{background-position:0% 50%}
	100%{background-position:0% 0%}
}

@-webkit-keyframes slide {
	0%{background-position:0% 0%}
    50%{background-position:0% 50%}
	100%{background-position:0% 0%}
}

@keyframes slide {
	0%{background-position:0px 0px}
    100%{background-position:200px 200px}

}

body {
background: #9ad0ff; 
font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
header { margin-top: 30px; }
h1{
	font-size: 50px
}
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }

#seals{
	max-height: 220px;
	max-width: 220px;
}

#seals:hover{
	filter: brightness(70%);
	filter: drop-shadow(2px, 2px, 10px, black);
	transition: filter 0.6s;
}
.pattern{
	height: 100%;
	background-image: url( "../img/sealPattern.png");
	background-size: 200px 200px;
	-webkit-animation: slide 4.5s linear infinite;
	-moz-animation: slide 4.5s linear infinite;
	animation: slide 4.5s linear infinite;
}
#p1{
	font-size: 24px;
}
#dc{
	font-size: 12px;
}
.card-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dcefff;
    color: black;
    text-align: center;
	padding: 5px;
	font-size: 16px;
}
a{
	color: #9e6fff;
}
a:hover{
	color: #3600a4;
	text-decoration: none;
}
#status{
	font-size: 22px;
}

#main{
	background-color: aliceblue;
	height: 100%;
}

